<div id="exTab1" class="container">
   <div class="col-sm-4 grad1 hidden-xs hidden-sm">
      <div id="rolesDesc" class="tab-content clearfix">
         <div class="tab-pane" id="1a" ng-class="{'active': projects.a1}">
               <P> Brainstorm the client/brand requirements with the account management team or the
client representatives and translate the same into a creative brief</P>
<P> Develop the creative strategy, the creative concept and the key messages using the
creative brief as the roadmap</P>
<P>Brainstorm the creative concepts with the Head of Art, develop the appropriate
imagery for the concepts and decide on the ATL/BTL collaterals to carry the concept</P>
<P> De-brief the creative team on the creative brief and the creative concepts with the aid
of mood boards and doodles/sketches</P>
<P> Guide the creative team as and when they develop the doodles/sketches into
computerized artworks and layouts; oversee the execution process and refine the
artworks, taking into account the feedback of the account management, till they are
deemed fit for presentation</P>
<P>Ensure that the artworks developed are in line with each and every brand’s pre-
determined graphic guidelines</P>
         </div>
         <div class="tab-pane" id="2a" ng-class="{'active': projects.a2}">
            <P>Develop the copy (headlines, sub head, body copy) for all communication collaterals
in line with the creative brief and key messages</P>
<P>Develop the content for print materials like brochures, annual reports, flyers etc. and
publishing materials like press releases, speeches etc.</P>
<P> Proofread all the communication collaterals before going to client and prior to final
production and ensure they are devoid of any typo mistakes</P>
<P>Proofread the figures in financial statement ads against originals provided by the
client’s external auditors</P>
         </div>
         <div class="tab-pane" id="3a" ng-class="{'active': projects.a3}">
          <P> Key member of the account management team that serviced the major clients of the
agency</P>
<P> Compiling the creative presentations including developing the overall content,
creative strategy and the rationales that should accompany the concept and artwork
presentation to clients</P>
<P>Accompany the account management team for major client presentations and briefing
sessions</P>
<P>Work closely with the account management team in developing communication
plans, media strategies and media mix for the creative solutions developed by the
agency</P>
<P>Liaise directly with the client representatives and the account management team for
the day-to-day operations of the agency’s accounts</P>
         </div>
         <div class="tab-pane" id="4a" ng-class="{'active': projects.a4}">
            <P>Reporting directly to the General Manager of the agency</P>
<P> Act as the single window interface between the creative team and other departments
of the agency</P>
<P> Develop daily project schedules for the creative team in line with pre-determined
client deadlines and ensure that deadlines are strictly adhered to</P>
<P> Evaluate the performance of the creative team and recommend performance-based
financial incentives and increments</P>
<P> Responsible for the quality control of all the solutions developed by the creative team</P>
<p> In charge of maintaining the overall infrastructure of the creative department like
purchasing machines, upgrading software programs, sourcing creative resources like
image libraries etc.</P>
<P>Responsible for the HR needs of the creative team</P>
         </div>
      </div>
   </div>

     <div id="roles-main" class="col-sm-8 grad2 hidden-xs hidden-sm">
        <ul  class="nav nav-pills">
           <li>
              <a>
              </a>
           </li>
           <li class="active">
              <a href="" ng-click="scrollTo('a1')" data-toggle="tab" class="active-color">
                 <h4><b>CREATIVE</b></h4>
              </a>
           </li>
           <li>
              <a href="" ng-click="scrollTo('a2')" data-toggle="tab" class="active-color">
                 <h4><b>COPYWRITING</b></h4>
              </a>
           </li>
           <li>
              <a href="" ng-click="scrollTo('a3')" data-toggle="tab" class="active-color">
                 <h4><b>ACCOUNT MANAGEMENT</b></h4>
              </a>
           </li>
           <li>
              <a href="" ng-click="scrollTo('a4')" data-toggle="tab" class="active-color">
                 <h4><b>MANAGEMENT</b></h4>
              </a>
           </li>
        </ul>
     </div>



      <div class="col-sm-12 col-xs-12 hidden-md hidden-lg grad2">
         <div data-toggle="modal" data-target="#myModal1" class="pointer model-class">
               <h4><b>CREATIVE</b></h4>
         </div>
         <div data-toggle="modal" data-target="#myModal2" class="pointer model-class">
               <h4><b>COPYWRITING</b></h4>
         </div>
         <div data-toggle="modal" data-target="#myModal3" class="pointer model-class">
                 <h4><b>ACCOUNT MANAGEMENT</b></h4>
         </div>
         <div data-toggle="modal" data-target="#myModal4" class="pointer model-class">
              <h4><b>MANAGEMENT</b></h4>
         </div>       
         
      </div>

      <div class="modal fade" id="myModal1" role="dialog">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4>CREATIVE</h4>
            </div>
            <div class="modal-body">
           <P> Brainstorm the client/brand requirements with the account management team or the
client representatives and translate the same into a creative brief</P>
<P> Develop the creative strategy, the creative concept and the key messages using the
creative brief as the roadmap</P>
<P>Brainstorm the creative concepts with the Head of Art, develop the appropriate
imagery for the concepts and decide on the ATL/BTL collaterals to carry the concept</P>
<P> De-brief the creative team on the creative brief and the creative concepts with the aid
of mood boards and doodles/sketches</P>
<P> Guide the creative team as and when they develop the doodles/sketches into
computerized artworks and layouts; oversee the execution process and refine the
artworks, taking into account the feedback of the account management, till they are
deemed fit for presentation</P>
<P>Ensure that the artworks developed are in line with each and every brand’s pre-
determined graphic guidelines</P>
            </div>
         </div>
        </div>
    </div>
   <div class="modal fade" id="myModal2" role="dialog">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
             <h4>COPYWRITING</h4>
            </div>
            <div class="modal-body">
             <P>Develop the copy (headlines, sub head, body copy) for all communication collaterals
in line with the creative brief and key messages</P>
<P>Develop the content for print materials like brochures, annual reports, flyers etc. and
publishing materials like press releases, speeches etc.</P>
<P> Proofread all the communication collaterals before going to client and prior to final
production and ensure they are devoid of any typo mistakes</P>
<P>Proofread the figures in financial statement ads against originals provided by the
client’s external auditors</P>
            </div>
            </div>
         </div>
        </div>

   <div class="modal fade" id="myModal3" role="dialog">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
             <h4>ACCOUNT MANAGEMENENT</h4>
            </div>
            <div class="modal-body">
           <P> Key member of the account management team that serviced the major clients of the
agency</P>
<P> Compiling the creative presentations including developing the overall content,
creative strategy and the rationales that should accompany the concept and artwork
presentation to clients</P>
<P>Accompany the account management team for major client presentations and briefing
sessions</P>
<P>Work closely with the account management team in developing communication
plans, media strategies and media mix for the creative solutions developed by the
agency</P>
<P>Liaise directly with the client representatives and the account management team for
the day-to-day operations of the agency’s accounts</P>
            </div>
         </div>
        </div>
    </div>
   <div class="modal fade" id="myModal4" role="dialog">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4>MANAGEMENT</h4>
            </div>
            <div class="modal-body">
               
             <P>Reporting directly to the General Manager of the agency</P>
<P> Act as the single window interface between the creative team and other departments
of the agency</P>
<P> Develop daily project schedules for the creative team in line with pre-determined
client deadlines and ensure that deadlines are strictly adhered to</P>
<P> Evaluate the performance of the creative team and recommend performance-based
financial incentives and increments</P>
<P> Responsible for the quality control of all the solutions developed by the creative team</P>
<p>In charge of maintaining the overall infrastructure of the creative department like
purchasing machines, upgrading software programs, sourcing creative resources like
image libraries etc.</P>
<P>Responsible for the HR needs of the creative team</P>
            </div>
         </div>
        </div>
    </div>



</div>