<div id="exTab1" class="container">
   <div class="col-sm-4 grad1 hidden-xs hidden-sm">
      <div id="careerDesc" class="tab-content clearfix">
         <div class="tab-pane" id="1a" ng-class="{'active': projects.a1}">
            <p>20+ years of advertising, communication and marketing experience in the Qatari
               (18), Bahraini (3) and Indian (1) markets
            </p>
            <p>20+ years of experience as an advertising copywriter</p>
            <p>12+ years of experience as a creative head</p>
            <p>Conceived and written 360-degree creative solutions for a wide range of brands
               belonging to the financial, automotive, oil and gas, health care, government sectors
            </p>
            <p>Conceived and written ATL, BTL and TTL solutions covering print, outdoor,
               digital/social and ambient media
            </p>
            <p>Presently managing a 14-member creative team comprising art directors, visualisers
               and finalisers in Arabic and English
            </p>
         </div>
         <div class="tab-pane" id="2a" ng-class="{'active': projects.a2}">
            <p> Major brands presently working on include:
               Qatar Development Bank, Ahlibank, Masraf Al Rayan,
               Milaha, Qatar Petroleum, Mwani Qatar, QAFCO, AAB
               (Toyota &amp; Lexus), Teyseer Motors (Suzuki)
            </p>
            <p>Major brands previously worked on include:
               Qatar Islamic Bank, Qatar National Bank, Commercial Bank,
               International Islamic, QAPCO, Mannai Trading Co.
               (Cadillac, GMC, Hummer, Subaru), Supreme Education
               Council, Doha Asian Games Organising Committee, Qatar
               Tennis &amp; Squash Federation, Applebee’s, Ramada Plaza,
               Techno Blue (Samsung)
            </p>
            <p><b>Have conceptualised and written an extensive range of
               corporate and tactical campaigns for various brands and
               have written, edited and proofread annual reports, magazines and a wide range of BTL literature</b>
            </p>
         </div>
         <div class="tab-pane" id="3a" ng-class="{'active': projects.a3}">
            <p><b>Major accounts worked on include:</b>
               Bank of Bahrain &amp; Kuwait, Bahrain Development Bank,
               Bahrain International Bank, Bahrain Credit, Awal Gulf
               (Pearl Air Conditioners), E.K. Kanoo (Toyota), Y.K.
               Almoayyed &amp; Sons (Corporate &amp; Ford), LG Electronics,
               Woolworths &amp; Truworths
            </p>
         </div>
         <div class="tab-pane" id="4a" ng-class="{'active': projects.a4}">
            <p><b>Major categories worked on include:</b>
               Hospitality, Tourism and Industrial Development
            </p>
         </div>
      </div>
   </div>
   <div id="careerMain" class="col-sm-8 grad2 hidden-xs hidden-sm">
      <ul  class="nav nav-pills">
         <li>
            <a>
            </a>
         </li>
         <li class="active">
            <a href="" ng-click="scrollTo('a1')" data-toggle="tab" class="active-color">
               <h4><b>HEAD OF CREATIVE/COPYWRITER</b></h4>
               <p>Dana Public Relations, Qatar</p>
               <p>Oct'05 till date</p>
            </a>
         </li>
         <li>
            <a href="" ng-click="scrollTo('a2')" data-toggle="tab" class="active-color">
               <h4><b>COPYWRITER</b></h4>
               <p>Dana Public Relations, Qatar</p>
               <p>Oct'00 - Sept'05</p>
            </a>
         </li>
         <li>
            <a href="" ng-click="scrollTo('a3')" data-toggle="tab" class="active-color">
               <h4><b>COPYWRITER</b></h4>
               <p>Nova Advertising, Baharain</p>
               <p>June'97 - Sept'00</p>
            </a>
         </li>
         <li>
            <a href="" ng-click="scrollTo('a4')" data-toggle="tab" class="active-color">
               <h4><b>JR. COPYWRITER</b></h4>
               <p>DCD Advertising, India</p>
               <p>Aug'96 - May'97</p>
            </a>
         </li>
      </ul>
   </div>



      <div id="careerMainMobile" class="col-sm-12 col-xs-12 hidden-md hidden-lg grad2">
         <div data-toggle="modal" data-target="#myModal1" class="pointer model-class">
               <h4><b>HEAD OF CREATIVE/COPYWRITER</b></h4>
               <p>Dana Public Relations, Qatar</p>
               <p>Oct'05 till date</p>
         </div>
         <div data-toggle="modal" data-target="#myModal2" class="pointer model-class">
               <h4><b>COPYWRITER</b></h4>
               <p>Dana Public Relations, Qatar</p>
               <p>Oct'00 - Sept'05</p>
         </div>
         <div data-toggle="modal" data-target="#myModal3" class="pointer model-class">
                 <h4><b>COPYWRITER</b></h4>
              <p>Nova Advertising, Baharain</p>
               <p>June'97 - Sept'00</p>
         </div>
         <div data-toggle="modal" data-target="#myModal4" class="pointer model-class">
              <h4><b>JR. COPYWRITER</b></h4>
               <p>DCD Advertising, India</p>
               <p>Aug'96 - May'97</p>
         </div>       
         
      </div>

      <div class="modal fade" id="myModal1" role="dialog">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4>HEAD OF CREATIVE/COPYWRITER</h4>
            </div>
            <div class="modal-body">
              <p>20+ years of advertising, communication and marketing experience in the Qatari
               (18), Bahraini (3) and Indian (1) markets
            </p>
            <p>20+ years of experience as an advertising copywriter</p>
            <p>12+ years of experience as a creative head</p>
            <p>Conceived and written 360-degree creative solutions for a wide range of brands
               belonging to the financial, automotive, oil and gas, health care, government sectors
            </p>
            <p>Conceived and written ATL, BTL and TTL solutions covering print, outdoor,
               digital/social and ambient media
            </p>
            <p>Presently managing a 14-member creative team comprising art directors, visualisers
               and finalisers in Arabic and English
            </p>
            </div>
         </div>
        </div>
    </div>
   <div class="modal fade" id="myModal2" role="dialog">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
             <h4>COPYWRITER</h4>
            </div>
            <div class="modal-body">
              <p> Major brands presently working on include:
               Qatar Development Bank, Ahlibank, Masraf Al Rayan,
               Milaha, Qatar Petroleum, Mwani Qatar, QAFCO, AAB
               (Toyota &amp; Lexus), Teyseer Motors (Suzuki)
            </p>
            <p>Major brands previously worked on include:
               Qatar Islamic Bank, Qatar National Bank, Commercial Bank,
               International Islamic, QAPCO, Mannai Trading Co.
               (Cadillac, GMC, Hummer, Subaru), Supreme Education
               Council, Doha Asian Games Organising Committee, Qatar
               Tennis &amp; Squash Federation, Applebee’s, Ramada Plaza,
               Techno Blue (Samsung)
            </p>
            <p><b>Have conceptualised and written an extensive range of
               corporate and tactical campaigns for various brands and
               have written, edited and proofread annual reports, magazines and a wide range of BTL literature</b>
            </p>
            </div>
            </div>
         </div>
        </div>

   <div class="modal fade" id="myModal3" role="dialog">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
             <h4>COPYWRITER</h4>
            </div>
            <div class="modal-body">
             <p><b>Major accounts worked on include:</b>
               Bank of Bahrain &amp; Kuwait, Bahrain Development Bank,
               Bahrain International Bank, Bahrain Credit, Awal Gulf
               (Pearl Air Conditioners), E.K. Kanoo (Toyota), Y.K.
               Almoayyed &amp; Sons (Corporate &amp; Ford), LG Electronics,
               Woolworths &amp; Truworths
            </p>
            </div>
         </div>
        </div>
    </div>
   <div class="modal fade" id="myModal4" role="dialog">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4>JR. COPYWRITER</h4>
            </div>
            <div class="modal-body">
               
             <p><b>Major categories worked on include:</b>
               Hospitality, Tourism and Industrial Development
            </p>
            </div>
         </div>
        </div>
    </div>



</div>