.displayed 
	{
		display: block;
		margin-left: auto;
		margin-right: auto 
	}
	
.header 
	{
		padding: 3%;
		padding-bottom: 0px;
		margin-top: -3%;
	}
	
.navbar-default 
	{
		background-color: #ffffff;
		border-color: #ffffff;
	}
	.navbar-nav{
		float:none;
		text-align:center;
	}
	.navbar-nav li{
		float:none;
		display:inline-block;
		text-transform: uppercase;
		margin: 0 12px;
	}

	.body-bg{
	background-color:#dfdfdf;
/*width: 76.5%;
    margin-left: 12.2%;*/
	}
		.body-bg-white{
	background-color:white;
	}
	.margin {
    margin-bottom: 45px;
}
.logo{
	margin-top:5%;
	margin-bottom:5%;
}
.pointer{
	    cursor: pointer;
	    margin-bottom: 7%;
}
	
	@media only screen and (max-width: 765px) {
    .navbar-nav li{
		display:block;
	}
	.body-bg img{
		display: block;
		margin-left: auto;
		margin-right: auto 
	}

		.body-bg-white img{
		display: block;
		margin-left: auto;
		margin-right: auto 
	}
}


/*Concept */

#fh5co-project{
  clear: both;
}
@media screen and (max-width: 768px) {

  #fh5co-project{
    padding: 3em 0;
  }
}
#fh5co-project .fh5co-project {
  margin-bottom: 30px;
}


#fh5co-project .fh5co-project > a {
  display: block;
  color: #000;
  position: relative;
  bottom: 0;
  overflow: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#fh5co-project .fh5co-project > a img {
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#fh5co-project .fh5co-project > a:after {
  opacity: 0;
  visibility: hidden;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 8;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#fh5co-project .fh5co-project > a .fh5co-copy {
  z-index: 12;
  position: absolute;
  right: 20px;
  left: 20px;
  bottom: 0px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
    vertical-align: middle;
    line-height: 70px;
    margin-bottom: 10%;
}
#fh5co-project .fh5co-project > a .fh5co-copy h3 {
  margin: 0 0 5px 0;
  padding: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
#fh5co-project .fh5co-project > a .fh5co-copy p {
  color: white;
  font-size: 14px;
  margin: 0 0 5px 0;
  padding: 0;
  font-family: DIN-Regular;
}
#fh5co-project .fh5co-project > a .fh5co-copy p:last-child {
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  #fh5co-project .fh5co-project > a .fh5co-copy {
    position: relative;
    visibility: visible;
    opacity: 0;
    bottom: 0;
    color: #000;
    padding: 20px;
    background: #fff;
  }
}
#fh5co-project .fh5co-project > a:hover {
  -webkit-box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
}
@media screen and (max-width: 768px) {
  #fh5co-project .fh5co-project > a:hover {
    bottom: 0;
  }
}
#fh5co-project .fh5co-project > a:hover:after {
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 768px) {
  #fh5co-project .fh5co-project > a:hover:after {
    opacity: 0;
    visibility: hidden;
  }
}
#fh5co-project .fh5co-project > a:hover .fh5co-copy {
  opacity: 1;
  visibility: visible;
  bottom: 20px;
}
@media screen and (max-width: 768px) {
  #fh5co-project .fh5co-project > a:hover .fh5co-copy {
    bottom: 0;
    padding: 20px;
    background: #fff;
  }
}
#fh5co-project .fh5co-project > a:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  #fh5co-project .fh5co-project > a:hover img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

/*.js .animate-box {
  opacity: 0;
}*/
/* Start Timmeline*/

#cf {
  
}

.top{
	/*margin-left: -7%;*/
}
.bottom{
	/*margin-left: -7%;*/
}
#cf img {
  position:absolute;
  left: 14px;
    width: 98%;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}

/* Start Projects */
.grad1 {
    background: #ccc; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(left, rgb(186, 177, 156) 0%, rgb(250, 249, 247) 29%, rgb(250, 249, 247) 76%, rgb(186, 177, 156) 100%);
background: -o-linear-gradient(left, rgb(186, 177, 156) 0%, rgb(250, 249, 247) 29%, rgb(250, 249, 247) 76%, rgb(186, 177, 156) 100%);
background: -ms-linear-gradient(left, rgb(186, 177, 156) 0%, rgb(250, 249, 247) 29%, rgb(250, 249, 247) 76%, rgb(186, 177, 156) 100%);
background: -moz-linear-gradient(left, rgb(186, 177, 156) 0%, rgb(250, 249, 247) 29%, rgb(250, 249, 247) 76%, rgb(186, 177, 156) 100%);
background: linear-gradient(to right, rgb(186, 177, 156) 0%, rgb(250, 249, 247) 29%, rgb(250, 249, 247) 76%, rgb(186, 177, 156) 100%);
	margin-top: 7%;
	    overflow-y: auto;
}
.grad2 {
    background: #eee; /* For browsers that do not support gradients */
    background: radial-gradient(#fff,#e2dede); /* Standard syntax (must be last) */
    height: 650px;
}
.nav-pills>li {
    float: none;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #000;
    background-color: transparent;
}

a {
    color: #777;
    text-decoration: none;
}
h4{
	margin-top: 40px;
	margin-bottom:0px;
	font-family: "DIN-Bold";
}
.tab-content.clearfix {
    padding: 18px;
    height: 490px;
}
/* change border radius for the tab , apply corners on top*/
li:last-child {
    /**margin-bottom: 5%;**/
}

/* End Project */


#career-main {
  	height: 650px;
	margin-top: 2%;
}

#roles-main{
	background-image: url("../img/bulb2.png");
}
#roles-main h4{
	margin-top: 88px;
}


#career-main p{
	margin: 0 0 -2px
}

/*#roles-main p{
	margin: 0 0 -2px
	margin-top: 2%;
}*/


#career-desc {
  overflow-y: auto;
}

#career-desc p{
	margin: 0 0 19px
}

/* Footer */
.py-3 {
    padding-bottom: 2rem!important;
    padding-top: 2rem!important;
}

#career-main-sm p{
	margin: 0 0 0px;
}

.grad2 ul li h4{
	margin-top: 40px;
    margin-bottom:0px;
    width: 506px;
}


.tab-content.clearfix {
    padding: 18px;
    height: 490px;
    display: flex;
}
.tab-content > .active {
    margin: auto;
}
#portfolio-overflow{
	 /*overflow-y: auto;
	 height:360px;*/
	 margin-top:4%;
}
.p0{
	padding:0;
}
.portfolio_img {
    margin-bottom: 5%;
}
#portfolio-modal{
	width:80%;
}


@font-face {
font-family: Krugmann;
src: url(../fonts/KrugmannBrush.ttf);
}
@font-face {
font-family: DIN-LightAlternate;
src: url(../fonts/DIN-LightAlternate.ttf);
}
@font-face {
font-family: DIN-Regular;
src: url(../fonts/DIN-Regular.ttf);
}
@font-face {
font-family: DIN-Bold;
src: url(../fonts/DIN-Bold.ttf);
}
@font-face {
font-family: DIN-Light;
src: url(../fonts/DIN-Light.ttf);
}
.main-header {
font-family: Krugmann;
font-size: 47px;
}
#projectDesc, #careerDesc, #rolesDesc{
	font-family: DIN-Regular;
}

#resumeDownload{
	font-family: DIN-Bold;	
}
#contact-main, #contactMainMobile{
	font-family: DIN-Light;	
}
.nav-margin{
	margin-top: -1%;
    /*margin-bottom: -5%;*/
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: black;
    background-color: white;
}

.fancy {
  line-height: 0.5;
  text-align: center;
margin: -8px 2px 70px 0px;
}
.fancy span {
	font-family: DIN-Regular;
    font-size: 10px;
    color: #a9a0a0;
  display: inline-block;
  position: relative;  
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1.2px solid #a9a0a0;
  top: -2px;
  width: 61px;
}
.fancy span:before {
  right: 100%;
  margin-right: 5px;
}
.fancy span:after {
  left: 100%;
  margin-left: 5px;
}

.dim-text{
	color: #777;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color:  transparent !important;
}

/* Contact Style Start*/




#contact-main p{
	margin: 0 0 17% -70%;
}

#contact-main-sm p{
	margin: 0 0 0px;
}


/*.modal-content{
	background-color: transparent;
}*/


#careerMain{

}

#careerMain ul>li>a>p {
	font-family: DIN-LightAlternate;
    font-size: 17px;
	margin: 0 0 0px;
}

#careerMainMobile p {
	font-family: DIN-LightAlternate;
    font-size: 17px;
	margin: 0 0 0px;
}

#projectsMain ul>li>a>p {
	font-family: DIN-LightAlternate;
    font-size: 15px;
    width: 500px;
}

#projectsMainMobile p {
	font-family: DIN-LightAlternate;
    font-size: 15px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 7px 12px 0px 22px;
}

@media (min-width: 768px)
.modal-content {
	box-shadow : none !important;
}

.modal-content {
	border: none !important;
	box-shadow: none !important;
	border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
    color: #beb3b3;
}
.container {
    padding-right: 0px;
    padding-left: 11px;
}